*{
    font-family: 'Open Sans', sans-serif;
}

body{
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
    overflow-x: hidden;
    overflow-y: auto;
    /*background-color: #28a4c9;*/
}

#whole{
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

#background_container{
    position: absolute;
    top: 0;
    width: 110%;
    height:620px;
    overflow: hidden;
    /*z-index: -1;*/
}

#navbar{
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent;
    border: 0;
    width: 100% !important;
    border-radius: 0;
    color: #ffffff;
}

#navbar a{
    color: #ffffff;
}

#navbar a:hover{
    color: #000000;
    background-color: #ffffff;
}

#background{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background-attachment: fixed;*/
    height: 620px;
    width: 100%;
    padding-left: 50px;
    z-index: -1;
    position: fixed;
    /*top: 0;*/
}

#typewriter{
    text-align: left;
    color:#fff !important;
    padding-top:5em;
    vertical-align: text-top !important;
    font-weight: 400;
    font-size: 34pt;
    text-shadow: 1px 1px #000;
}

.typewrite{
    text-align: center;
    color: #0AB8F5 !important;
    padding-top:10em;
    vertical-align: super !important;
    font-weight: 300;
}

#linkContainer{
    padding-left: 50px;
    margin-top: 450px;
    position: fixed;
}

#getToKnowMe{
    font-size: 20pt;
    background-color: transparent;
    color: #ffffff;
    position: fixed;
    border: 2px solid #ffffff;
    transition: .3s ease-in-out;
}

#getToKnowMe:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
}

#aboutMe{
    background-color: #ffffff;
    position: absolute;
    top: 620px;
    width: 110%;
}

.titleDetails{
    font-weight: 700;
    margin-top: 80px;
}

#details{
    text-align: left;
    font-size: 17pt;
    font-weight: 300;
}

#techInfo{
    font-weight: 700;
    font-size: 20pt;
}

.subtitle{
    font-weight: 700;
    margin-top: 80px;
    font-size: 18pt;
}

.technologies{
    font-weight: 400;
    font-size: 14pt;
}

.progressBar{
    height: 10px;
}

.progressBar:hover {
    animation: shake 0.5s;
    animation-iteration-count: initial;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.downloadCv{
    margin-top: 50px;
}

.downloadCv h1{
    font-size: 25pt;
}

#downloadButtonContainer{
    padding-top: 15px;
}

#downloadButtonContainer a{
    font-size: 17pt;
    border-radius: 0;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    transition: .3s ease-in-out;
}

#downloadButtonContainer a:hover{
    background-color: #3c3c3c;
    color: #fff;
    border: 1px solid #3c3c3c;
}

.bgOne{
    background-image: url("../images/slconstructions.PNG");
    background-size: cover;
    overflow: hidden;
}

.bgTwo{
    background-image: url("../images/aduwata.PNG");
    background-size: cover;
    overflow: hidden;
}

.bgThree{
    background-image: url("../images/survey.PNG");
    background-size: cover;
    overflow: hidden;
}

.bgFour{
    background-image: url("../images/tudawe.PNG");
    background-size: cover;
    overflow: hidden;
}

.bgFive{
    background-image: url("../images/cbr.PNG");
    background-size: cover;
    overflow: hidden;
}

.bgSix{
    background-image: url("../images/myweb.PNG");
    background-size: cover;
    overflow: hidden;
}

.parent {
    width: 340px;
    margin: 10px;
    height: 350px;
    border: 1px solid blue;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    /*cursor: pointer;*/
    padding-left: 0 !important;
    padding-right: 0 !important;
    /*background-color: #28a4c9;*/
}

.child {
    height: 100%;
    width: 100%;
    /*background-size: cover;*/
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.parent:hover > .child, .parent:focus > .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover > .child .link, .parent:focus > .child .link {
    -ms-transform: scale(0.7) !important;
    -moz-transform: scale(0.7) !important;
    -webkit-transform: scale(0.7) !important;
    -o-transform: scale(0.7) !important;
    transform: scale(0.7) !important;
}

.link {
    display: none;
    font-size: 25px;
    color: #ffffff !important;
    font-family: sans-serif;
    /*text-align: center;*/
    margin-top: 40px;
    /*margin-left: 10px;*/
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    /*cursor: pointer;*/
    text-decoration: none;
}

.link a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

.link b{
    margin-left: 10px;
}

.link span{
    margin-left: 30px;
    font-weight: 300;
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover p, .parent:focus p {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

.hello {display: none}


.dateGap1{
    text-align: right;
}

.dateGap2{
    text-align: left;
}

.dateGap1 span{
    font-size: 15pt;
    font-weight: 700;
}

.quote{
    font-size: 20pt;
    font-weight: 300;
}

#background_container2{
    position: absolute;
    top: 4400px;
    /*margin-top: 2000px;*/
    width: 110%;
    height:620px;
    overflow: hidden;
    /*z-index: -1;*/
    /*background-color: transparent !important;*/
}

#background2{
    background-image: url("../images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 620px;
    width: 100%;
    z-index: -1;
    /*position: fixed;*/
    /*top: 0;*/
    /*background-color: transparent !important;*/
}

.social_icons{
    border: 1px solid #ffffff;
    background-color: transparent;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}

.social_icons:hover{
    border: 1px solid #ffffff;
    background-color: transparent;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#contact{
    background-color: #ffffff;
    position: absolute;
    top: 5100px;
    font-family: 'Open Sans', sans-serif;
}

#contactInfo{
    margin-top: 30px;
}

.inputField{
    margin-bottom: 20px !important;
    border-radius: 0 !important;
}

#submitbutton{
    background-color: #000000;
    width: 100%;
    border: 1px solid #000000;
    transition: .3s ease-in-out;
    border-radius: 0 !important;
}

#submitbutton:hover{
    background-color: #3c3c3c;
    border: 1px solid #3c3c3c;
}

#footer{
    margin-bottom: 0 !important;
    border-radius: 0;
    background-color: #3B3B3B;
    height: 120px;
}

#footer p{
    color: #ffffff;
    font-weight: 400;
    font-size: 10pt;
}

#contactDetails{
    padding-left: 150px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1200px) and (min-width: 980px)  {
    #myTechnicalInfo{
        padding-left: 50px !important;
        padding-right: 50px !important;
        /*background-color: yellow;*/
    }

    #projectRow{
        /*background-color: yellow;*/
    }

    #aboutMe{
        /*background-color: yellow;*/
    }

    #background_container2{
        position: absolute;
        top: 4800px;
        /*margin-top: 2000px;*/
        width: 110%;
        height:620px;
        overflow: hidden;
        /*z-index: -1;*/
        /*background-color: transparent !important;*/
    }

    #contact{
        background-color: #ffffff;
        position: absolute;
        top: 5400px;
        font-family: 'Open Sans', sans-serif;
    }

    #contactDetails{
        padding-left: 50px !important;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 980px) and (min-width: 765px) {

    #myTechnicalInfo{
        padding-left: 50px !important;
        padding-right: 50px !important;
        /*background-color: yellow;*/
    }

    #projectRow{
        /*background-color: yellow;*/
    }

    #aboutMe{
        /*background-color: yellow;*/
    }

    #background_container2{
        position: absolute;
        top: 5100px;
        /*margin-top: 2000px;*/
        width: 110%;
        height:620px;
        overflow: hidden;
        /*z-index: -1;*/
        /*background-color: transparent !important;*/
    }

    #contact{
        background-color: #ffffff;
        position: absolute;
        top: 5700px;
        font-family: 'Open Sans', sans-serif;
    }

    #footer{
        margin-bottom: 0 !important;
        border-radius: 0;
        background-color: #3B3B3B;
        height: 120px;
    }

    #footer p{
        color: #ffffff;
        font-weight: 400;
        font-size: 10pt;
    }

    #aboutMe{
        /*background-color: orange;*/
    }

    #linkContainer{
        padding-left: 50px;
        margin-top: 500px;
        position: fixed;
        /*position: absolute;*/
        /*top: 450px;*/
        /*left: 70px;*/
        /*z-index: 0;*/
    }

    #contactDetails{
        padding-left: 50px !important;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 765px) and (min-width: 700px) {

    #myTechnicalInfo{
        padding-left: 50px !important;
        padding-right: 50px !important;
        /*background-color: yellow;*/
    }

    #projectRow{
        /*background-color: yellow;*/
    }

    #aboutMe{
        /*background-color: yellow;*/
    }

    #background_container2{
        position: absolute;
        top: 5400px;
        /*margin-top: 2000px;*/
        width: 110%;
        height:620px;
        overflow: hidden;
        /*z-index: -1;*/
        /*background-color: transparent !important;*/
    }

    #contact{
        background-color: #ffffff;
        position: absolute;
        top: 6000px;
        font-family: 'Open Sans', sans-serif;
    }

    #footer{
        margin-bottom: 0 !important;
        border-radius: 0;
        background-color: #3B3B3B;
        height: 120px;
    }

    #footer p{
        color: #ffffff;
        font-weight: 400;
        font-size: 10pt;
    }

    #linkContainer{
        padding-left: 50px;
        margin-top: 500px;
        position: fixed;
        /*position: absolute;*/
        /*top: 450px;*/
        /*left: 70px;*/
        /*z-index: 0;*/
    }

    #aboutMe{
        /*background-color: green;*/
    }

    #contactDetails{
        padding-left: 50px !important;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 700px) and (min-width: 660px)    {
    #myTechnicalInfo{
        padding-left: 50px !important;
        padding-right: 50px !important;
        /*background-color: red;*/
    }

    .wrapper {padding: 20px 20px;}

    #projectRow{
        /*background-color: red;*/
        /*margin: 0 auto;*/
        padding-left: 100px !important;
    }

    #aboutMe{
        /*background-color: red;*/
    }

    #background_container2{
        position: absolute;
        top: 6600px;
        /*margin-top: 2000px;*/
        width: 110%;
        height:620px;
        overflow: hidden;
        /*z-index: -1;*/
        /*background-color: transparent !important;*/
    }

    #contact{
        background-color: #ffffff;
        position: absolute;
        top: 7200px;
        font-family: 'Open Sans', sans-serif;
    }

    #footer{
        margin-bottom: 0 !important;
        border-radius: 0;
        background-color: #3B3B3B;
        height: 120px;
    }

    #footer p{
        color: #ffffff;
        font-weight: 400;
        font-size: 10pt;
    }

    #linkContainer{
        padding-left: 50px;
        margin-top: 500px;
        position: fixed;
        /*position: absolute;*/
        /*top: 450px;*/
        /*left: 70px;*/
        /*z-index: 0;*/
    }

    #typewriter{
        text-align: left;
        color:#fff !important;
        padding-top:5em;
        vertical-align: text-top !important;
        font-weight: 400;
        font-size: 28pt !important;
        text-shadow: 1px 1px #000;
    }

    #contactDetails{
        padding-left: 50px !important;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 660px) and (min-width: 600px)    {
    #myTechnicalInfo{
        padding-left: 50px !important;
        padding-right: 50px !important;
        /*background-color: red;*/
    }

    .wrapper {padding: 20px 20px;}

    #projectRow{
        /*background-color: red;*/
        /*margin: 0 auto;*/
        padding-left: 100px !important;
    }

    #aboutMe{
        /*background-color: purple;*/
    }

    .dateGap1 span{
        font-size: 12pt;
        font-weight: 700;
    }

    #background_container2{
        position: absolute;
        top: 6700px;
        /*margin-top: 2000px;*/
        width: 110%;
        height:620px;
        overflow: hidden;
        /*z-index: -1;*/
        /*background-color: transparent !important;*/
    }

    #contact{
        background-color: #ffffff;
        position: absolute;
        top: 7200px;
        font-family: 'Open Sans', sans-serif;
    }

    #footer{
        margin-bottom: 0 !important;
        border-radius: 0;
        background-color: #3B3B3B;
        height: 120px;
    }

    #footer p{
        color: #ffffff;
        font-weight: 400;
        font-size: 10pt;
    }

    #linkContainer{
        padding-left: 50px;
        margin-top: 500px;
        position: fixed;
        /*position: absolute;*/
        /*top: 450px;*/
        /*left: 70px;*/
        /*z-index: 0;*/
    }

    #typewriter{
        text-align: left;
        color:#fff !important;
        padding-top:5em;
        vertical-align: text-top !important;
        font-weight: 400;
        font-size: 28pt !important;
        text-shadow: 1px 1px #000;
    }

    #contactDetails{
        padding-left: 50px !important;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 500px)    {
    #myTechnicalInfo{
        padding-left: 50px !important;
        padding-right: 50px !important;
        /*background-color: red;*/
    }

    .wrapper {padding: 20px 20px;}

    #projectRow{
        /*background-color: red;*/
        /*margin: 0 auto;*/
        padding-left: 100px !important;
    }

    #aboutMe{
        /*background-color: deeppink;*/
    }

    .dateGap1 span{
        font-size: 12pt;
        font-weight: 700;
    }

    #background_container2{
        position: absolute;
        top: 6950px;
        /*margin-top: 2000px;*/
        width: 110%;
        height:620px;
        overflow: hidden;
        /*z-index: -1;*/
        /*background-color: transparent !important;*/
    }

    #contact{
        background-color: #ffffff;
        position: absolute;
        top: 7500px;
        font-family: 'Open Sans', sans-serif;
    }

    #footer{
        margin-bottom: 0 !important;
        border-radius: 0;
        background-color: #3B3B3B;
        height: 120px;
    }

    #footer p{
        color: #ffffff;
        font-weight: 400;
        font-size: 10pt;
    }

    #linkContainer{
        padding-left: 50px;
        margin-top: 500px;
        position: fixed;
        /*position: absolute;*/
        /*top: 450px;*/
        /*left: 70px;*/
        /*z-index: 0;*/
    }

    #typewriter{
        text-align: left;
        color:#fff !important;
        padding-top:5em;
        vertical-align: text-top !important;
        font-weight: 400;
        font-size: 28pt !important;
        text-shadow: 1px 1px #000;
    }

    .typewrite{
        text-align: center;
        color: #0AB8F5 !important;
        padding-top:10em;
        vertical-align: super !important;
        font-weight: 300;
    }

    #contactDetails{
        padding-left: 50px !important;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 500px)  {
    #myTechnicalInfo{
        padding-left: 50px !important;
        padding-right: 50px !important;
        /*background-color: red;*/
    }

    .wrapper {padding: 20px 20px;}

    #projectRow{
        /*background-color: blue;*/
        /*margin: 0 auto;*/
        padding-left: 50px !important;
    }

    #aboutMe{
        /*background-color: blue;*/
    }

    #background_container2{
        position: absolute;
        top: 7000px;
        /*margin-top: 2000px;*/
        width: 110%;
        height:620px;
        overflow: hidden;
        /*z-index: -1;*/
        /*background-color: transparent !important;*/
    }

    #contact{
        background-color: #ffffff;
        position: absolute;
        top: 7700px;
        font-family: 'Open Sans', sans-serif;
    }

    .dateGap1 span{
        font-size: 10pt;
        font-weight: 700;
    }

    #linkContainer{
        padding-left: 50px;
        margin-top: 500px;
        position: fixed;
        /*position: absolute;*/
        /*top: 450px;*/
        /*left: 70px;*/
        /*z-index: 0;*/
    }

    #typewriter{
        text-align: left;
        color:#fff !important;
        padding-top:5em;
        vertical-align: text-top !important;
        font-weight: 400;
        font-size: 28pt !important;
        text-shadow: 1px 1px #000;
    }

    .typewrite{
        text-align: center;
        color: #0AB8F5 !important;
        padding-top:10em;
        vertical-align: super !important;
        font-weight: 300;
    }

    #contactDetails{
        padding-left: 50px !important;
        margin-bottom: 50px;
    }
}